/* Small Screen */
.container {
  padding: 1rem;
}

.province__container {
  text-align: center;
  justify-content: center;
}

.province__title {
  color: #06d6a0;
  font-size: 2.44rem;
}

.province__description {
  color: #118ab2;
}

.table__container {
  overflow-x: auto;
}
