/* Small Screen */
.container {
  margin: 1rem;
  align-items: center;
}

.form__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.form__container {
  margin: 5rem 0;
  text-align: center;
}

.form__title {
  color: #06D6A0;
  margin-bottom: 1rem;
}

.form {
  max-width: 349px;
  margin: auto;
}

.form__label {
  display: block;
  text-align: left;
  color: #64748B;
  margin-bottom: 0.5rem;
}

.form__input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #06D6A0;
  border-radius: 5px;
}

.form__submit {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #06D6A0;
  color: #fff;
  cursor: pointer;
}

.form__submit:hover {
  background-color: #08c290;
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .form__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1rem;
  }

  .form {
    min-width: 349px;
    margin: auto;
  }
}