.container {
  background-color: #06D6A0;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.footer__title {
  margin-bottom: 1rem;
}

.footer__author>a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;

}