/* Small Screen */
.container {
  padding: 1rem;
}

.movies {
  text-align: center;
}

.movies__title {
  margin-bottom: 1rem;
  font-size: 2.45rem;
  color: #06D6A0;
}

.movie__container {
  display: flex;
  flex-direction: column;
}

/* Medium Screen */
@media (min-width: 768px) {
  .movie__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 0;
  }
}