.movies {
  text-align: center;
  margin-top: 5rem;
}

.movies__title {
  margin-bottom: 2rem;
  font-size: 2.45rem;
  color: #06d6a0;
}

.movie__container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .movie__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
