/* Small Screen */
.container{
    padding: 1rem;
}

.movies{
    margin: 5rem 0;
    text-align: center;
}

.movies__title{
    margin-bottom: 1rem;
    font-size: 2.44rem;
  color: #06D6A0;
}

.movie__container{
  display: flex;
  flex-direction: column;
}

.movie{
  margin-bottom: 1rem;
}

.movie__image{
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.movie__title{
  color: #06D6A0;
  font-size: 1.95rem;
  margin-bottom: 0.5rem;
}

.movie__release{
  color: #64748B;
}

/* Medium Screen */
@media (min-width: 768px){
  .movie__container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .movie{
    flex-basis: 50%;
  }
}

/* Large Screen */
@media (min-width: 992px){
  .container{
    max-width: 1200px;
    margin: 3rem auto;
  }

  .movie{
    flex-basis: 25%;
    padding: 1rem;
  }
}