.form__image {
  display: none;
}

.form__container {
  text-align: center;
}

.form__title {
  color: #06d6a0;
  margin-bottom: 0.25rem;
}

.form {
  max-width: 349px;
  margin: auto;
}

.form__group,
.form__group__left,
.form__group__right {
  margin-bottom: 0.5rem;
}

.form__label {
  display: block;
  text-align: left;
  color: #64748b;
}

.form__input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #06d6a0;
  border-radius: 5px;
  font-family: "Poppins";
}

.form__input:focus {
  border-radius: 5px;
  outline: 2px solid #08c290;
}

.form__button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #06d6a0;
  color: #fff;
  cursor: pointer;
}

.form__button:hover {
  background-color: #08c290;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

@media (min-width: 992px) {
  .form__container {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
    width: 1200px;
  }

  .form__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    margin-bottom: 1rem;
    display: block;
  }

  .form {
    min-width: 349px;
    margin: auto;
  }

  .form__group__row {
    display: flex;
    justify-content: space-between;
  }

  .form__group__left {
    width: 40%;
  }

  .form__group__right {
    width: 50%;
  }
}
