/* Small Screen */
.province__table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

th {
  color: #06d6a0;
}

td,
th {
  border: 1px solid #64748b;
  padding: 0.25rem;
  white-space: nowrap;
}

/* Medium Scren */
@media (min-width: 768px) {
  .province__table {
    margin: auto;
    margin-top: 2rem;
    width: 70%;
    border-collapse: collapse;
  }
}
