/* Small Screen */
.container {
  background-color: #06D6A0;
  padding: 1rem;
  color: #fff;
}

.navbar__brand {
  margin-bottom: 1rem;
}

.navbar__brand>a {
  text-decoration: none;
  color: #fff;
}

.navbar__list {
  list-style: none;
}

.navbar__item {
  margin-bottom: 1rem;
}

.navbar__item>a {
  text-decoration: none;
  color: #fff;
}

.navbar__item>a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* Medium Screen */
@media(min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__brand {
    margin: 0;
  }

  .navbar__brand>a {
    text-decoration: none;
    color: #fff;
  }

  .navbar__list {
    display: flex;
    flex-direction: row;
  }

  .navbar__item {
    margin: 0 1rem;
  }

  .navbar__item>a {
    text-decoration: none;
    color: #fff;
  }

  .navbar__item>a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}