/* Small Screen */
.container {
  background-color: #06D6A0;
  color: #fff;
}

.navbar__brand {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.navbar__brand>a {
  text-decoration: none;
  color: #fff;
}

.navbar__list {
  list-style: none;
  margin-left: 1rem;
}

.navbar__item {
  margin-bottom: 1rem;
}

.navbar__item>a {
  text-decoration: none;
  color: #fff;
}

.navbar__item>a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* Medium Screen */
@media(min-width: 768px) {
  .navbar {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__brand {
    margin: 0;
  }

  .navbar__brand>a {
    text-decoration: none;
    color: #fff;
  }

  .navbar__list {
    display: flex;
    flex-direction: row;
  }

  .navbar__item {
    margin: auto;
    margin-left: 2rem;
  }
}