.container {
  margin: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-direction: column-reverse;
}

.hero__left {
  margin-bottom: 1rem;
}

.hero__title {
  color: #06d6a0;
  margin-bottom: 0.5rem;
  font-size: 2.44rem;
}

.hero__genre {
  color: #118ab2;
  margin-bottom: 0.5em;
  font-size: 1.59rem;
}

.hero__description {
  color: #64748b;
  margin-bottom: 1rem;
}

.hero__button {
  font-size: 14px;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #06d6a0;
  color: #fff;
  cursor: pointer;
}

.hero__button:hover {
  background-color: #08c290;
}

.hero__image {
  display: none;
}

@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .hero {
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .hero__left {
    flex-basis: 60%;
  }

  .hero__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 25px;
  }
}
