/* Small Screen */
.container {
  margin-top: 3rem;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.hero__image {
  max-width: 50%;
  height: auto;
  margin-bottom: 2rem;
}

.hero__title {
  color: #06d6a0;
  font-size: 2.44rem;
}

.hero__short__desc {
  color: #118ab2;
  margin-bottom: 1rem;
}

.hero__description {
  color: #64748b;
  margin-bottom: 1rem;
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
}

.hero__button {
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 10px;
  background-color: #06d6a0;
  color: #fff;
}

.hero__button:hover {
  background-color: #08c290;
  cursor: pointer;
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .hero {
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .hero__left {
    flex-basis: 40%;
    margin: 2rem 0;
  }

  .hero__right {
    flex-basis: 40%;
  }

  .hero__description {
    width: 100%;
  }

  .hero__image {
    max-width: 100%;
  }
}
