/* Small Screen */
.container {
  background-color: #06d6a0;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__brand {
  margin: 1rem;
}

.navbar__list {
  display: none;
}

.navbar__list__mobile {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 30%;
  flex-direction: column;
  list-style: none;
  border-radius: 5px;
  background-color: #08c290;
}

.navbar__item {
  text-align: center;
  padding: 1rem;
}

.navbar__item:hover {
  background-color: #06d6a0;
  text-decoration: underline;
}

.navbar__toggle {
  display: block;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Medium Screen & Large Screen */
@media (min-width: 768px) {
  .navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .navbar__item {
    margin-left: 1rem;
  }

  .navbar__toggle {
    display: none;
  }

  .navbar__list__mobile {
    display: none;
  }
}
