.movie {
  margin-bottom: 1rem;
}

.movie__image {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.movie__title {
  color: #06d6a0;
  font-size: 1.95rem;
  margin-bottom: 0.5rem;
}

.movie__release {
  color: #64748b;
}

@media (min-width: 768px) {
  .movie {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .movie {
    flex-basis: 25%;
    padding: 1rem;
  }
}
